<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">

	<property name="FORMAT"
		value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${FORMAT}</pattern>
		</encoder>
	</appender>

	<!-- Weldのログ抑制 -->
	<logger name="org.jboss" level="ERROR" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>