<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">

	<!-- ログ出力フォーマット -->
	<property name="FORMAT"
		value="%-30([%d{yy/MM/dd HH:mm:ss}]\\(%thread\\)) %-40(%-7([%level]) %logger{15} %M\\(\\)) - %msg%n" />

	<!-- 出力ディレクトリ -->
	<property name="DIR_BASE" value="logs" />
	<property name="DIR_SIFT_CLASS" value="/class" />
	<property name="LOG_FILE" value="/%d{yyyyMMdd}.log" />

	<!-- SIFT ログ -->
	<appender name="SIFT_CLASS_LOG" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
			<key>class</key>
			<defaultValue>default</defaultValue>
		</discriminator>
		<sift>
			<appender name="${class}_LOG"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<prudent>true</prudent>
				<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
					<level>DEBUG</level>
				</filter>
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>${DIR_BASE}${DIR_SIFT_CLASS}/${class}${LOG_FILE}</fileNamePattern>
					<maxHistory>10</maxHistory>
					<cleanHistoryOnStart>false</cleanHistoryOnStart>
				</rollingPolicy>
				<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
					<pattern>${FORMAT}</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>

	<!-- コンソール出力 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ALL</level>
		</filter>
		<encoder>
			<pattern>${FORMAT}</pattern>
		</encoder>
	</appender>

	<!-- Weldのログ抑制 -->
	<logger name="org.jboss" level="ERROR" />

	<root level="DEBUG">
		<appender-ref ref="SIFT_CLASS_LOG" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>